@{
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>
<h3>You can find us here at any time 24/7!</h3>

<img src="~/images/location.jpg" alt="">

<h4>Address:</h4>
<address>
    1729, Aleksandar Malinov Boulevard 33, 1729 g.k. Mladost 1A, Sofia
</address>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

