@model Academy.Web.Areas.Administration.Models.AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <h3>Promote user to Teacher.</h3>

        <form asp-area="administration" asp-controller="dashboard" asp-action="promote" method="post">
            <select asp-for="userId">
                <option value="" disabled selected>Please, choose user:</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">
                        @user.FullName
                    </option>
                }
            </select>
            <div class="form-group"><button type="submit" class="btn btn-success">Promote</button></div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @if (TempData["UserMessage"] != null)
    {
        <script>
       $(document).ready(function myfunction() {
       toastr.success('@TempData["UserMessage"]', 'Zvezdite mi go govorqt')
       })
        </script>
    }
}

