@model Academy.Web.Areas.Administration.Models.AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h3>List of all students:</h3>
        @foreach (var user in Model.Users)
        {
            <h4>@user.FullName</h4>
        }
    </div>
</div>

<div class="container">
    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Promote to Teacher</a>
</div>
