<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/site.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">            
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Academy.Web</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                @if (User.IsInRole("Teacher"))
                {
                   <a asp-area="teacher" asp-controller="dashboard" asp-action="index">Teacher Dashboard</a>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-area="administration" asp-controller="dashboard" asp-action="index">Administrator Dashboard</a>
                }
                @if (User.IsInRole("Student"))
                {
                    <a asp-area="student" asp-controller="dashboard" asp-action="index">Student Dashboard</a>
                }
            </div>
            @await Html.PartialAsync("_LoginPartial")

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Academy.Web</p>
        </footer>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
